.body {
    background: #D3D3D3;
    font-family: Verdana, Geneva, Tahoma, sans-serif
 }

.index-card{
    background-color: #ffffff;
    width: 500px;
    padding: 8px;
    margin:  16px auto;
}
 
#title{
    background-color: #191970;
    color: #D3D3D3;
    font-size: 12px;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
}

#worlds-best-lasagna-index{
    background-color: #191970;
    padding: 20px ;
    color: #D3D3D3;
    text-align: center;
    margin-bottom: 8px;
}

#beef-pho-index{
    background-color: #191970;
    padding: 20px;
    color: #D3D3D3;
    text-align: center;
    margin-bottom: 8px; 
}

#easy-korean-beef-bowl-index{
    background-color: #191970;
    padding: 20px;
    color: #D3D3D3;
    text-align: center;
}

a:link{
    display: block;
    padding-top: 8px;
}
a:visited{
    color:#D3D3D3
}

a:hover{
    color: #C0C0C0;
}